body {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color : #ffffff;
}

a {
	font-weight : bold;
	color : #b54b00;
	text-decoration : none;
}

a:hover {
	color : #FF9933;
	text-decoration : underline;
}

/*
 * here's the stuff I define.
**/

#main #content h1 {
	font-weight : bold;
	font-size : 12px;
}

#main #content h2 {
	font-weight: normal;
	font-size : 11px;
	padding-left: 25px;
	margin-top: 0px;
}

#main #content p {
	font-size : 11px;
	line-height : 18px;
}

#main #content li {
  font-size: 11px;
}

#main #navigate h1 {
	font-weight : bold;
	font-size : 11px;
}

#main #navigate p {
	font-size : 11px;
	line-height : 18px;
}

#main #navigate td {
	font-size : 11px;
}

/*
 * classes here
**/

.author {
   font-size : 11px;
   font-weight : normal;
}
