/*
 * base elements here.
 */
 body {
	text-align: center;
}

/*
 * and here's my user-defined stuff...
**/

#forms {
    background-color : #ffffff;
    width : 350px;
    text-align : left;
    padding-left : 10px;
    padding-right : 10px;
    margin-left : auto;
    margin-right : auto;
}

#main {
		width:683px;
		margin-left : auto;
		margin-right :auto;
		background:#ffffff;
}

#main #content {
	border-right: 1px dotted #FF9933;
	border-left : 1px dotted #FF9933;
	float:right;
	margin-right : 25px;
	padding-bottom:25px;
	padding-top:25px;
	margin-top:25px;
	width : 500px;
	text-align : left;
}

#main #content h1 {
	padding-left : 10px;
}

#main #content p {
	padding-left : 25px;
	padding-right : 25px;
}


#main #content li {
	margin-left:25px;
}

#main #navigate {
	float : left;
	height : inherit;
	width : 150px;	
	padding-top:75px;
	text-align : left;
        line-height : 10px;
}

#main #navigate p {
	padding-left : 10px;
}
