<p><strong>##sw## ##title##</strong> &nbsp;&nbsp;<a 
href="##link##" title="link to this entry"><img 
src="http://jessamyn.info/pix/permalink.png" 
alt="book icon" border=0></a> &nbsp;##storelink## <br />
by ##author## (##pub_date##) [##rating##]<br />
&nbsp;&nbsp;&nbsp;<em>read: ##read_date##</em></p>
