<p><strong>##sw## ##title## &nbsp;&nbsp;##link##&nbsp;&nbsp;##storelink## <br />
by ##author## ##pub_date##</strong></p>
<p><strong>read</strong>: ##read_date##<br />
<strong>rating</strong>: [##rating##]<br />
<strong>##cat_label##</strong>: ##cat_value##</p>
<p>##text##</p>
