<p><strong>##sw## ##title## &nbsp;&nbsp;##storelink## <br />
by ##author## 
(##pub_date##)</strong></p>
<p><strong>read</strong>: ##read_date##<br />
<strong>rating</strong>: [##rating##]</p>

##text##
