&lt;p&gt;&lt;strong&gt;##sw## ##title## ##storelink## &lt;br /&gt;
by ##author## 
##pub_date##&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;read&lt;/strong&gt;: ##read_date##&lt;br /&gt;
&lt;strong&gt;rating&lt;/strong&gt;: [##rating##]&lt;/p&gt;
&lt;p&gt;##text##&lt;/p&gt;
